@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$sandy-brown: #f7b582;
$midnight-blue: #0f1e37;
$dim-gray: #70525a;
$tan: #ddd7c4;
$violet-red: #d78b77;

$light-text: #fff;

$menu-font: "Raleway", sans-serif;
$heading-font: "Raleway", sans-serif;

$font-md1: 1.15rem;
